@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}


.legend-dot {
  width: 8px;
  height: 50px;
  border-radius: 9999px;
  flex-shrink: 0;

}

.legend-dot.bg-green-500 {
  height: 100px;
}